<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs.ualberta.ca.beargitandroid.View"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />
   

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cs.ualberta.ca.beargitandroid.View.homeScreenLocal"
            android:label="@string/app_name" >
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cs.ualberta.ca.beargitandroid.View.CreateStory" ></activity>
        <activity android:name="cs.ualberta.ca.beargitandroid.View.AddLink"></activity>
        <activity android:name="cs.ualberta.ca.beargitandroid.View.Fragment"></activity>
        <activity android:name="cs.ualberta.ca.beargitandroid.View.ViewStory"></activity>
        <activity android:name="cs.ualberta.ca.beargitandroid.View.ChapterView"></activity>
    	<uses-library android:name="android.test.runner" />
    </application>
    <instrumentation android:name="android.test.InstrumentationTestRunner"
    android:targetPackage="cs.ualberta.ca.beargitandroid.View"
    android:label="AndroidTestSuite" />

</manifest>
